# ST445 Managing and Visualizing Data

## Week 3 Assignment, MT 2017
---
**Note: This assignment will be assessed.  Deadline: 5pm, 18 October 2017**

### A.  Normalizing data (40 points).

This question uses this table:
![Not normalized data](http://www.essentialsql.com/wp-content/uploads/2014/06/Intro-Table-Not-Normalized.png)

from [the lecture notes](https://github.com/lse-st445/lectures/blob/master/week03/ST445_wk3_lecture.ipynb#normalization-example).  For each answer, please explain as fully as possible, and feel free to use tables or diagrams if you prefer.

1\.  Why does this table violate the first normal form, and what would be required to make it 1NF?

1NF is violated because of the wide format of Customer1-3 and disappearance of values in several cells (a few blank cells). This table does not have a primary key, i.e. the set of attributes is not minimal. Since Customer1, Customer2 and Customer3 are the repeating groups, we might want to organise them in a way such that they are not repeating or introduce foreign key if necessary to make it a 1NF.

2\.  What additional steps would be needed to make the table 2NF, and why?

After reorganising the repeating attributes as suggested in part 1, we still have repeating elements in this table (e.g. the SalesOffice and OfficeNumber for employee 1003 and 1005), which violates the definition of 2NF. Such redundantly duplicated data across multiple rows of the table should be moved out to a separate table and linked via a foreign key.

3\.  Why might we not want to normalize data to the fullest extent possible?

If we normalise the data as much as possible then we will end up with too many seperate tables and it is complicated and time consuming to track our desired details, in this case, the employee's information in multiple tables.

4\.  In the table below, which of the three normalization rules does this violate, if any, and why?

   |  countryID  |  countryName    |   EUmember   |  EUjoindate  |
   | -----------:|:----------------|:------------:|:------------:|
   | 00001       | France          |  `true`      |  1958-01-01  |
   | 00004       | Hungary         |  `true`      |  2004-05-01  |
   | 00003       | Serbia          |  `false`     |       `NULL` |
   | 00004       | Finland         |  `true`      |  1995-01-01  |
   | 00005       | Russia          |  `false`     |       `NULL` |
   | 00006       | Ireland, UK     |  `true`      |  1973-01-01  |

   Are there any other problems with the table, besides normalization?

NF2 is violated because there are repeating elements ('true' and 'false').
NF3 is violated as well because EUmember and EUjoindate are transitive functional dependencies which are supposed to be removed from this table and put into another one with only coutryName inside.

The other problem is that the primary key (countryID) is not unique, i.e. the 'typo' of countryID of Hungary and that of Finland which are supposed to be distinct (in common sense).

5\.  What would it take to full (1NF-3NF) normalize this dataset?

   Write out these tables, and describe why this meets each of the normal forms.  This is a database of movies watched on NetBricks, a streaming movie service.

   | Name           | Address    |   Movies Rented   |  Salutation  | Category |
   |:---------------|:-----------|:------------------|:------------:|----------|
   | Bob Smith      | 1 Houghton Street    | _Star Wars_, _Inception_ |  Dr.   |  Scifi, Scifi |
   | Pry Ministair  | 10 Downing St     |  _Brexit the Movie_      |  Lady  | Tragedy |
   | Joe Bloggs     | 8 Myhatt St.      |  _Fast and Furious 6_, _Fast and Furious 7_     | Mr. | Action, Action |

1NF:

| Name           | Address    |   Movies Rented   |  Salutation  | Category |
   |:---------------|:-----------|:------------------|:------------:|----------|
   | Bob Smith      | 1 Houghton Street    | _Star Wars_ |  Dr.   |  Scifi |
   | Bob Smith      | 1 Houghton Street    | _Inception_ |  Dr.   |  Scifi |
   | Pry Ministair  | 10 Downing St     |  _Brexit the Movie_      |  Lady  | Tragedy |
   | Joe Bloggs     | 8 Myhatt St.      |  _Fast and Furious 6_    | Mr. | Action |
   | Joe Bloggs     | 8 Myhatt St.      |  _Fast and Furious 7_     | Mr. | Action |
As we observe in the original table, Movies Rented column has multiple values. So in order to make 1NF, we have to make sure that each table cell only contains a single value and each attribute/record needs to be unique.


2NF:
After we make the above table 1NF, the only requirement of 2NF is just single column primary key, which has already been achieved in our case.


3NF:
Changing Name will change Salutation, which means that Name and Salutation are 2 transitive dependencies. Thus, these 2 should be removed in order to achieve 3NF which has the requirement of no transitive dependencies.

|   Salutation ID   | Salutation |
   |:------------------|----------|
   | 1 |  Mr. |
   | 2 |  Mrs. |
   |  3      | Ms. |
   |  4    | Dr. |
   |  5    | Lady |   
 
   
| Membership ID |Name           | Address    |  Salutation ID  |
   |:---------------|:--|:-----------|:------------------|:------------:|----------|
   | 1|Bob Smith      | 1 Houghton Street    |  4   |
   | 1|Bob Smith      | 1 Houghton Street    |  4   |
   | 2|Pry Ministair  | 10 Downing St     |  5  |
   | 3|Joe Bloggs     | 8 Myhatt St.      | 1 |
   | 3|Joe Bloggs     | 8 Myhatt St.      | 1 |
   
   
|   Membership ID | Movies Rented |
   |:-----------|:-------|----------|
   | 1      | _Star Wars_|
   | 1      | _Inception_|
   | 2  |  _Brexit the Movie_|
   | 3     |  _Fast and Furious 6_|
   | 3     |  _Fast and Furious 7_|

|   Movies Rented   | Category |
   |:------------------|----------|
   | _Star Wars_ |  Scifi |
   | _Inception_ |  Scifi |
   |  _Brexit the Movie_      | Tragedy |
   |  _Fast and Furious 6_    | Action |
   |  _Fast and Furious 7_     | Action |
   
We have again divided our tables and created a new table which stores Salutation.
There are no transitive dependencies and hence our tables are indeed 3NF.

### B.  Reshaping data (30 points)

For this exercise, we will use the **nycflights13** R package, whose tables have been output in `.csv` form [here](nycflights13/).  You may do the following in either R or Python.  Note that this example is developed extensively in [_R for Data Science_](http://r4ds.had.co.nz/relational-data.html).

1\.  Create a subtable of the `flights` data, that departed before 05:53 on 2013-02-28.  How many rows and columns does this subtable have?

In [3]:
setwd("~/Downloads")
flights <- read.csv('flights.csv')
sub_flights <- subset(flights, dep_time<553 &year==2013 & month == 2 & day == 28) #choose the subset from the flights data which meets the criteria described in the question
sub_flights #compute the extracted subtable
nrow(sub_flights) #we have 10 rows of this subtable
ncol(sub_flights) #and 20 columns

       X      year month day dep_time sched_dep_time dep_delay arr_time
135284 135284 2013 2     28  457      500             -3        639
135285 135285 2013 2     28  458      501             -3        748
135286 135286 2013 2     28  522      530             -8        832
135287 135287 2013 2     28  539      540             -1        836
135288 135288 2013 2     28  540      545             -5       1015
135289 135289 2013 2     28  549      600            -11        730
135290 135290 2013 2     28  551      600             -9        717
135291 135291 2013 2     28  551      600             -9        808
135292 135292 2013 2     28  552      600             -8        839
135293 135293 2013 2     28  552      600             -8        848
       sched_arr_time arr_delay carrier flight tailnum origin dest air_time
135284  648            -9       US      1117   N198UW  EWR    CLT   82
135285  800           -12       UA       697   N816UA  EWR    IAH  211
135286  831             1       UA      1714   N24224  LGA    IAH  217
135287  850           -14       AA      1141   N638AA  JFK    MIA  157
135288 1023            -8       B6       725   N586JB  JFK    BQN  195
135289  801           -31       EV      4911   N741EV  EWR    DTW   80
135290  745           -28       AA       301   N3ETAA  LGA    ORD  105
135291  825           -17       MQ      4650   N8EGMQ  LGA    ATL  115
135292  910           -31       AA       707   N3CKAA  LGA    DFW  205
135293  901           -13       B6       371   N615JB  LGA    FLL  153
       distance hour minute time_hour
135284  529     5     0     2013-02-28 05:00:00
135285 1400     5     1     2013-02-28 05:00:00
135286 1416     5    30     2013-02-28 05:00:00
135287 1089     5    40     2013-02-28 05:00:00
135288 1576     5    45     2013-02-28 05:00:00
135289  488     6     0     2013-02-28 06:00:00
135290  733     6     0     2013-02-28 06:00:00
135291  762     6     0     2013-02-28 06:00:00
135292 1389     6     0     2013-02-28 06:00:00
135293 1076     6     0     2013-02-28 06:00:00

[1] 10

[1] 20

2\.  Merge or join the subtable from a. `airports` data, to produce a result that includes:  
   *  Departure time
   *  Carrier (two digit code, from `carrier`)
   *  Flight number
   *  Destination airport name (hint: you will need to get this from the `airports` table)

In [5]:
airports <- read.csv('airports.csv')
merged_sub_flights <- merge(sub_flights,airports,by.x=c("dest"),by.y=c("faa")) #merge the subtable from part 1 and the airports data together
B2 <- subset(merged_sub_flights,select=c(dep_time, carrier, flight, name)) #filter out the 4 results we need
B2 #compute our results
#An additional word: we can see that here our output only has 9 rows whereas 10 rows in part 1. This is probably because 
#one piece of information from sub_flights data is not available in airports data (incomplete information).

  dep_time carrier flight name
1 551      MQ      4650   Hartsfield Jackson Atlanta Intl
2 457      US      1117   Charlotte Douglas Intl
3 552      AA       707   Dallas Fort Worth Intl
4 549      EV      4911   Detroit Metro Wayne Co
5 552      B6       371   Fort Lauderdale Hollywood Intl
6 458      UA       697   George Bush Intercontinental
7 522      UA      1714   George Bush Intercontinental
8 539      AA      1141   Miami Intl
9 551      AA       301   Chicago Ohare Intl

3\.  For every airline that had flights in the `flights` data compute the average age of the planes it flew from the entire dataset.  Age here will be defined as 2013 minus the `year` variable from the `planes` data.  Hint: This involves a join operation on `tailnum`, but also a grouped mean to compute the age (and subtracting 2013, which you can do before or after the computation of the mean).

In [6]:
planes <- read.csv('planes.csv')
merged_tailnum <- merge(flights, planes, by = c('tailnum')) #merge the flights data and planes data together
selected_merged_tailnum <- subset(merged_tailnum, select = c(year.y, carrier, tailnum)) #pick out our desired attributes
unique_tailnum <- unique(selected_merged_tailnum) #remove any replication
B3 <- aggregate(year.y~carrier, unique_tailnum, mean) #compute the group mean
B3$year.y <- 2013 - B3$year.y #calculate the corresponding ages
B3

   carrier year.y
1  9E       8.287129
2  AA      25.402439
3  AS       5.156627
4  B6       6.497326
5  DL      17.671593
6  EV      10.558442
7  F9       5.000000
8  FL      10.794643
9  HA       1.230769
10 MQ      35.500000
11 OO       7.142857
12 UA      13.050934
13 US      10.996283
14 VX       4.288462
15 WN      11.005272
16 YV       9.438596

### C.  Working with SQL.  (30 points)

1\.  Create a relational dataset in SQLite using the `.csv` data found [here](nycflights13/).  Name each table so that it matches the base filenames of the input data.  You can use DB Browser for this, but describe how you did it.   If you use SQL commands, include that.

First I create a database in DB Browser, then click 'File'->'Import -> data from csv file'. Add each csv files to their corresponding table and tick the box of 'column name in first line'. Lastly, export the database.

2\.  Replicate B2 above using an SQL query, including both the command and the output.

SELECT flights.dep_time, flights.carrier, flights.flight, airports.name as subtable_B2
from flights inner join airports
on flights.dest = airports.faa
where year=2013 and month=2 and day=28 and dep_time < 553;

In [8]:
setwd("~/Downloads")
C2 <- read.csv("C2.csv")
C2

  dep_time carrier flight name
1 457      US      1117   Charlotte Douglas Intl
2 458      UA       697   George Bush Intercontinental
3 522      UA      1714   George Bush Intercontinental
4 539      AA      1141   Miami Intl
5 549      EV      4911   Detroit Metro Wayne Co
6 551      AA       301   Chicago Ohare Intl
7 551      MQ      4650   Hartsfield Jackson Atlanta Intl
8 552      AA       707   Dallas Fort Worth Intl
9 552      B6       371   Fort Lauderdale Hollywood Intl

Before I execute these lines, I changed the format of year, month, day and dep_time from flights data to 'INTEGER'.

3\.  Replicate B3 above using an SQL query, including both the command and the output.

SELECT distinct flights.carrier, flights.tailnum, 2013-avg(planes.year) as average_year
from flights inner join planes
on flights.tailnum = planes.tailnum
group by carrier

In [9]:
C3 <- read.csv("C3.csv")
C3

   carrier tailnum average_year
1  9E      N906XJ   11.59290
2  AA      N335AA   63.38089
3  AS      N528AS   14.59524
4  B6      N516JB   38.34473
5  DL      N193DN   38.29348
6  EV      N740EV   71.50051
7  F9      N204FR    4.87874
8  FL      N894AT   73.26456
9  HA      N392HA  189.75439
10 MQ      N519MQ   35.31900
11 OO      N785SK    6.84375
12 UA      N578UA   43.21932
13 US      N953UW   82.54383
14 VX      N844VA   42.21620
15 WN      N7741C   50.90324
16 YV      N924FJ   25.98336